<div class="panel panel-default">
	<div class="panel-body">
		<h3 class="panel-title">
			<a href="{{ url }}" class="btn btn-fab btn-primary" value="{{ node.field_rating.value }}"><i class="material-icons {{ node.bundle() }} "></i></a>
			<a href="{{ url }}">{{ node.label }} </a>
		</h3>
		{{ content.field_elements }}
		{{ content.field_tags }}
	</div>
	<div class="panel-footer">
		<a href="/node/{{ node.id }}/edit" title="Edit node">
			<i class="material-icons small">edit</i>
		</a>
		<a href="/node/{{ node.id }}/delete" title="Delete node">
			<i class="material-icons small">delete</i>
		</a>
		<a href="/node/add/relation" class="use-ajax" data-dialog-type="modal"  title="Create relation">
			<i class="material-icons small">link</i>
		</a>	
	</div>
</div>