<div class="panel panel-primary">
  <div class="panel-heading" rating="{{ node.field_rating.value }}">
      <span title="Edit relation" class="btn btn-xs">
        <i class="material-icons">link</i>
      </span>
      <strong>{{ node.field_type.entity.label }} </strong>
      <a href="/node/{{ node.id }}/edit" data-toggle="tooltip" title="Edit relation" class="btn btn-xs use-ajax" data-dialog-type="modal">
        <i class="material-icons small">edit</i>
      </a> 
      <a href="/node/{{ node.id }}/delete" data-toggle="tooltip" title="Delete relation" class="btn btn-xs use-ajax" data-dialog-type="modal">
        <i class="material-icons small">delete</i>
      </a> 
  </div>
  <div class="panel-body">
    <p>Created on {{ node.createdtime|format_date('short') }}. </p>
    <p>{{ node.field_comment.value }}</p>
    <p>
      <a href="/node/{{ node.field_from.entity.id }}" data-toggle="tooltip" title="Type {{ node.field_from.entity.bundle()  }}, Rating {{ node.field_from.entity.field_rating.value }}" class="btn btn-fab btn-primary" rating="{{ node.field_from.entity.field_rating.value }}"><i class="material-icons {{ node.field_from.entity.bundle() }}"></i></a>
      <a href="/node/{{ node.field_from.entity.id }}">{{ node.field_from.entity.label }}</a>
    </p>
  </div>
</div>